@media (min-width: 320px) {
  body {
    max-width: 375px;
  }
}

@media (min-width: 375px) {
  body {
    max-width: 425px;
  }

  header {
    height: 5rem;
  }

  .about-hero {
    background-position-y: -1rem;
  }
}

@media (min-width: 425px) {
  body {
    max-width: 475px;
  }

  #about p {
    text-align: justify;
  }

  .section-nav a {
    font-size: .80rem;
  }

  .about-hero {
    height: 19.5rem;
  }
}

@media (min-width: 475px) {
  body {
    max-width: 640px;
  }

  html {
    font-size: 18px;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5rem;
    padding-bottom: 5rem;
  }

  :is(hr, section, .button, .hero) {
    grid-column: span 4;
  }

  .hidden {
    display: none;
  }

  .about-page h1 {
    top: 6rem;
  }
}

@media (min-width: 640px) {
  body {
    max-width: 768px;
  }

  header {
    height: 7rem;
    padding-inline: .75rem;
  }

  .desktop-only {
    display: block;
  }

  .testimonials {
    grid-template-areas:
      'h2 h2 h2 h2'
      'test1 test1 test2 test2';
  }

  .testimonials h2 {
    grid-area: h2;
  }

  .esther {
    grid-area: test1;
  }

  .marisol {
    grid-area: test2;
  }

  .portfolio-page .hero p {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 8rem;
  }

  .about-page .about-hero {
    background-size: 22rem;
    background-position: 20%;
  }

  .about-page p {
    padding: 0 8rem;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 1024px;
  }

  .about-page .grid {
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .six-p-result img,
  .gallup-result img {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1280px;
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 1440px;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1536px;
  }
}