@media (min-width: 320px) {
  body {
    max-width: 375px;
  }

  .about-hero {
    height: 18rem;
  }
}

@media (min-width: 375px) {
  body {
    max-width: 425px;
  }

  header {
    height: 5rem;
  }

  .hero {
    height: 38rem;
  }
}

@media (min-width: 425px) {
  body {
    max-width: 475px;
  }

  main {
    justify-items: center;
  }

  main>section {
    width: 88%;
  }

  #about p {
    text-align: justify;
  }

  .about-hero {
    height: 21.5rem;
    background-position-y: -1rem;
  }
}

@media (min-width: 475px) {
  body {
    max-width: 640px;
  }

  :root {
    --direct-children-gap: 3rem;
  }

  html {
    font-size: 17px;
  }

  main:not(.home, .about) {
    padding-top: 5.25rem;
  }

  h3 {
    line-height: 1.25;
  }

  .maria {
    width: 30%;
  }

  .hidden {
    display: none;
  }
}

@media (min-width: 640px) {
  body {
    max-width: 768px;
  }

  header {
    height: 7rem;
    padding-inline: .75rem;
  }

  .hero {
    height: 40rem;
  }

  .hero__content {
    padding: 2rem 4rem;
  }

  .hero__button {
    margin-block: 2rem;
  }

  .desktop-only {
    display: block;
  }

  .options .card {
    grid-row: span 3;
  }

  .testimonials .card {
    grid-row: span 4;
  }

  .service .card {
    grid-template-rows: 1fr repeat(2, 225px) auto auto;
  }

  .services .card__content {
    grid-template-rows: subgrid;
    grid-row: span 5;
  }

  .special .card__content {
    grid-row: span 7;
  }

  .portfolio .card {
    grid-row: span 4;
  }

  .about-hero {
    height: 24.5rem;
    background-position-y: -6rem;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 1024px;
  }

  .hero {
    height: 42rem;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1280px;
  }

  .services .card__content {
    padding: 2rem .60rem;
  }

  .special .card {
    margin: auto;
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 1440px;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1536px;
  }
}