:root {
  --teal-pop: #026165;
}

body {
  line-height: 1.2rem;
  text-align: center;
  font-family: sans-serif;
}

/* use clamp on all fonts to use less media queries */

a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

h1 {
  font-size: 1.75rem;
  font-family: "merriweather-regular";
}

h2 {
  font-size: 1.25rem;
  font-family: "merriweather-regular";
  font-weight: bold;
  padding-bottom: 2rem;
}

h3 {
  padding: 1rem 0;
}

p {
  padding: 0.75rem;
}

img {
  width: 96%;
}

.button {
  width: 50%;
  border: solid .15rem;
  border-radius: .36rem;
  padding: .50rem;
  margin: auto;
  background-color: black;

  -moz-box-shadow: 0 0 .58rem #777;
  -webkit-box-shadow: 0 0 .58rem #777;
  box-shadow: 0 0 1rem #777;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.merri-italic {
  font-family: "merriweather-italic";
}

.dotted {
  text-decoration: underline dotted black .10rem;
}

.sixty {
  width: 60%;
}

.mobile-nav a,
.cta {
  color: white;
  text-shadow: 0 0 .42rem #777;
}

section:last-child {
  padding-bottom: 2rem;
}

.availability {
  display: none;
  background-color: red;
  color: white;
  width: 30%;
  font-size: .75rem;
  padding: .1rem .2rem;
  border-radius: 4px;
  position: relative;
  top: -2.90rem;
  margin: auto;
}


.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: .25rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.desktop-nav {
  display: none;
}

.logo {
  max-width: 4rem;
}

.desktop-hidden-link {
  display: none;
}

.mobile-nav {
  display: flex;
  align-items: center;
  font-size: .67rem;
}

.mobile-nav ul {
  display: flex;
  padding: 0 .60rem;
}

.mobile-nav a {
  margin-left: .75rem;
}

.mobile-nav a:active {
  color: var(--teal-pop);
}

.hero {
  background:
    /* top, transparent white, faked with gradient */
    linear-gradient(rgba(255, 255, 255, 86%),
      rgba(255, 255, 255, 86%)),
    /* bottom, image */
    url("../images/backgrounds-and-elements/systems-and-organization.png");
  background-size: cover;
  background-position: center;
  height: 34rem;
}

.hero img {
  border-radius: 50%;
  width: 38%;
  padding: 1.75rem 0;
}

.hero h1 {
  color: var(--teal-pop);
  font-family: "merriweather-regular";
}

.hero p {
  font-family: "merriweather-italic";
  margin: 1rem 0 2rem;
  color: var(--teal-pop);
  text-align: justify;
}

section p {
  text-align: left;
}

hr {
  border: solid rgba(128, 128, 128, 0.293) .1rem;
  width: 75%;
}

section {
  padding: 3rem 0 2rem;
}

.options img {
  border-radius: 1rem;
}

.option {
  padding: 1rem 0;
}

.card-title {
  font-weight: bold;
}

.card-description::after {
  content: '\f061';
  font: var(--fa-font-solid);
  margin-left: .4rem;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.testimonials h2 {
  padding: 0 .75rem 3rem;
}

.testimonials .content {
  padding-bottom: 2rem;
}

.star {
  width: 10%;
  padding-bottom: .50rem;
}

.client-pic {
  border-radius: 50% 40%;
  width: 30%;
}

.client-name {
  text-align: center;
}

footer {
  text-align: left;
  padding: 0 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  background-color: black;
  color: white;
  padding: .75rem;
}

footer p {
  padding: .5rem;
  font-family: merriweather-italic;
}

footer a {
  color: #6ad6c1;
  font-family: merriweather-regular;
  text-decoration: underline;
}

footer .credit {
  font-size: .5rem;
  position: relative;
  left: -.6rem;
  top: .6rem;
}

/* services page */

#services {
  padding: 3.75rem 0;
}

#services section {
  padding-top: 1rem;
}

.price-grid,
.special-price-grid {
  display: grid;
  width: 90%;
  gap: 1rem;
  margin: auto;
}

.price-and-min {
  margin: 1rem 0;
}

.req-time {
  margin-top: .2rem;
}

.card {
  border: solid lightgray .10rem;
  border-radius: .35rem;
  border-left-color: var(--teal-pop);
  border-left-width: .5rem;
  text-align: left;
  padding: 1rem .60rem;
}

.services p {
  padding: .4rem 0;
}

.card .card-extra {
  font-family: merriweather-italic;
  margin-bottom: 1.20rem;
  font-size: .94rem;
  display: none;
}

.bullets {
  list-style-type: disc;
  margin-left: 1rem;
}

#services special {
  text-align: left;
}

.special .bullets {
  margin-left: 2rem;
}

.card li {
  padding-bottom: .60rem;
}

.sm-font {
  font-size: .75rem;
}

.special .card {
  border-left-color: orange;
}

.special .service::before {
  content: "\2605";
  color: orange;
  padding-right: .2rem;
}

/* porfolio page */

#portfolio {
  padding-top: 3.75rem;
  background-color: var(--teal-pop);
  color: rgb(242, 242, 242);
}

#portfolio section {
  display: grid;
  grid-template-columns: 1fr;
  font-size: .70rem;
  padding-top: 2rem;
  margin-top: 1rem;
}

#portfolio :is(img) {
  width: 96%;
}

.audio-description {
  text-align: center;
}

#portfolio :where(hr) {
  border: solid rgba(205, 205, 205, 0.293) .1rem;
}

/* about page */

.about-page .about-hero {
  height: 14rem;
  background-image: url("../images/peace-removebg-preview.png");
  background-repeat: no-repeat;
  background-position-y: -1.8rem;
  background-size: cover;
  background-clip: border-box;
}

.about-page h1 {
  position: relative;
  top: 2rem;
  width: 65%;
  left: 34%;
}

.about-page p {
  margin-top: 2rem;
  text-align: left;
}

.about-me {
  grid-column: 1 / 4;
}

.personality {
  grid-column: 1 / 4;
}

.personality p {
  color: rgb(163, 47, 47);
}

.personality img {
  width: 80%;
  padding: 0;
}