:root {
  --accent: #026165;
  --direct-children-gap: 2.25rem;
  --card-text-gap: 1.50rem;

  /* @link https://utopia.fyi/clamp/calculator?a=320,1536,32—51|26—45|20—39|18—35|17—31|16—27 */

  /* headers 1-3 */
  --fluid-h1: clamp(2.0275rem, 1.9395rem + 0.4402vw, 2.2806rem);
  --fluid-h2: clamp(1.8019rem, 1.7234rem + 0.3924vw, 2.0275rem);
  --fluid-h3: clamp(1.6019rem, 1.5323rem + 0.3478vw, 1.8019rem);
  /* paragraph */
  --fluid-p: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  /* header links, nav and cta */
  --fluid-a: clamp(0.8888rem, 0.8501rem + 0.1935vw, 1rem);
  /* small text for availability and services page card group management card */
  --fluid-smalltext: clamp(0.79rem, 0.7557rem + 0.1717vw, 0.8888rem);
}

/* global styling */

.img-scroll {
  overflow-y: scroll;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.merri-italic {
  font-family: "merriweather-italic";
}

.dotted {
  text-decoration: underline dotted black .10rem;
  padding-bottom: .5rem;
}

.hidden {
  display: none;
}

.cards {
  display: grid;
  row-gap: var(--direct-children-gap);
  column-gap: var(--direct-children-gap);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.card {
  display: grid;
  row-gap: var(--card-text-gap);
}

.button {
  width: fit-content;
  border-radius: .36rem;
  padding: .75rem 1.5rem;
  background-color: black;
  color: white;

  -moz-box-shadow: 0 0 .58rem #777;
  -webkit-box-shadow: 0 0 .58rem #777;
  box-shadow: 0 0 1rem #777;
}

body {
  font-size: var(--fluid-p);
  line-height: 1.4rem;
  text-align: left;
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
  display: grid;
  justify-items: center;
  row-gap: var(--direct-children-gap);
  padding-bottom: 3rem;
}

main>section {
  width: 96%;
  display: grid;
  row-gap: var(--direct-children-gap);
}

/* offsets the top of the page to push it down below the fixed header */
main:not(.home, .about) {
  padding-top: 3.25rem;
}

/* makes only the portfolio main and about main have padding bottom of 3rem */
main:is(.portfolio, .about) {
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  white-space: nowrap;
}

h1 {
  font-weight: bold;
  font-size: var(--fluid-h1);
  font-family: "merriweather-regular";
}

h2 {
  font-size: var(--fluid-h2);
  font-family: "merriweather-regular";
  text-align: center;
  line-height: 1.5;
  grid-column: -1 / 1;
}

h3 {
  font-size: var(--fluid-h3);
  line-height: 1.25;
}

h1,
h2,
.subhead {
  text-align: center;
}

nav a {
  color: white;
  text-shadow: 0 0 .42rem #777;
}

header {
  grid-area: header;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: .25rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.availability {
  display: none;
  background-color: red;
  color: white;
  width: 30%;
  font-size: var(--fluid-smalltext);
  padding: .1rem .2rem;
  border-radius: 4px;
  position: relative;
  top: -2.90rem;
  margin: auto;
}

.logo-link {
  display: flex;
}

.desktop-only {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  font-size: var(--fluid-a);
}

nav ul {
  display: flex;
  padding: 0 .60rem;
}

nav li {
  margin-left: .75rem;
}

nav a:active {
  color: var(--accent);
}

.hero {
  background:
    /* top, transparent white, faked with gradient */
    linear-gradient(rgba(255, 255, 255, 86%),
      rgba(255, 255, 255, 86%)),
    /* bottom, image */
    url("../images/backgrounds-and-elements/systems-and-organization.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 36rem;
}

.hero__content {
  display: grid;
  grid-template-areas:
    "img"
    "h1"
    "paragraph"
    "button";
  row-gap: 2.50rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.maria {
  grid-area: img;
  border-radius: 50%;
  width: 38%;
  padding: 1.5rem 0;
}

.hero h1 {
  grid-area: h1;
  color: var(--accent);
}

.hero p {
  grid-area: paragraph;
  font-family: "merriweather-italic";
  color: var(--accent);
  text-align: justify;
}

.hero__button {
  grid-area: button;
}

.card img {
  border-radius: .25rem;
}

.card-title {
  font-weight: bold;
}

.card-description {
  color: #5a5a5a;
}

hr {
  border: solid rgba(128, 128, 128, 0.293) .1rem;
  width: 75%;
}

.testimonials {
  grid-template-areas:
    'h2'
    'cards';
}

.testimonials h2 {
  grid-area: h2;
}

.testimonials .card {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "stars"
    "client-pic"
    "client-name"
    "testimonial";
  row-gap: var(--card-text-gap);
}

.stars {
  grid-area: stars;
  font-size: clamp(1.75rem, 2rem, 4rem);
  color: orange;
}

.client-pic img {
  grid-area: client-pic;
  margin: auto;
  border-radius: 50% 40%;
  width: 30%;
}

.client-name {
  grid-area: client-name;
  text-align: center;
}

.testimonial {
  grid-area: testimonial;
}

.main__button {
  margin-block: 2rem;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  font-size: var(--fluid-smalltext);
  background-color: black;
  color: white;
  padding: .75rem;
}

footer p {
  padding: .5rem;
  font-family: merriweather-italic;
}

footer a {
  color: #6ad6c1;
  font-family: merriweather-regular;
  text-decoration: underline;
}

footer .credit {
  position: relative;
  left: -.6rem;
  top: .6rem;
}

/* services page */
.req-time {
  margin-top: .2rem;
}

.services .card {
  border: solid lightgray .10rem;
  border-radius: .35rem;
  border-left-color: var(--accent);
  border-left-width: .5rem;
}

.services .card__content {
  display: grid;
  row-gap: var(--card-text-gap);
  padding: 2rem 1.60rem;
}

.card-extra {
  font-family: merriweather-italic;
  margin-bottom: 1.20rem;
  display: block;
}

.sm-font {
  font-size: var(--fluid-smalltext)
}

.bullets {
  list-style-type: disc;
  margin-left: 1rem;
}

.card li {
  padding-bottom: .60rem;
}

.special .card {
  border-left-color: orange;
}

.special .service::before {
  content: "\2605";
  color: orange;
  padding-right: .2rem;
}

/* portfolio page */
.portfolio {
  display: grid;
  background-color: var(--accent);
  color: rgb(242, 242, 242);
}

.portfolio>section {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 2rem;
}

.portfolio .card {
  grid-template-rows: 280px 18% 1fr 1fr;
  outline: solid hsl(0, 0%, 95%) 4px;
  border-radius: .25rem;
}

.portfolio .card__content {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  padding: 1.5rem 1rem;
  line-height: 1.2;
}

.podcast .card {
  grid-template-rows: 73rem repeat(2, 20px 90px);
}

.podcast .card__content {
  grid-row: span 8;
}

/* fix podcast portfolio section subgrid */

:where(.secondary-nav) {
  text-decoration: underline;
  position: relative;
  left: -5rem;
}

.secondary-nav ul {
  display: unset;
  list-style: disc;
  font-size: var(--fluid-a);
}

.section-nav a {
  color: white;
}

.audio-description {
  text-align: center;
}

.portfolio :where(hr) {
  border: solid rgba(205, 205, 205, 0.293) .1rem;
}

/* about page */
.about section {
  justify-content: center;
  justify-items: center;
}

.about-hero {
  min-width: 100%;
  height: 17rem;
  background-image: url("../images/people/laptop-smile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.about h1 {
  position: relative;
  top: 4rem;
  width: 65%;
  left: 34%;
}

.personality-result {
  display: grid;
  justify-items: center;
}

.personality :is(img) {
  margin-block: 2rem;
  text-align: left;
  width: 80%;
  padding: 0;
}